NEXT_PUBLIC_SUPABASE_URL=https://lickxydbtkyijgjmpnqo.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_MAP_PROVIDER=amap
NEXT_PUBLIC_AMAP_KEY=
